.entry__input {
    -webkit-box-shadow: inset 0 0 0 50px black;
    -webkit-text-fill-color: #FFFFFF;;
    display: block;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 32px;
    width: 356px;
    padding: 0;
}

.entry__input:focus {
    outline: none;
}

.entry__input::placeholder {
    color: #CCCCCC;
    font-weight: 400;
} 

@media screen and (max-width: 619px) {
    .entry__input {
        width: 260px;
        /* margin-bottom: 38px; */
        padding-bottom: 5px;
    }
}
